.main-chat
  .main-chat__group-info
    %p
      "main-chat__group-info"
  .main-chat__group-message-list
    %p
      "main-chat__group-message-list"
  .main-chat__group-message-form
    %p
      "main-chat__group-message-form"