.main-chat
  .header
    %h3
      group_id_1
    .header__group-member
      %h4
        Member:
      %p
        user_id_1, user_id_2
    .header__edit-btn
      =link_to "Edit", "edit_group_path(@group)" , class: 'edit-link'
  
  .body
    .message
      .message__user-name
        user_id_1
      .message__time
        2019-12-24-23:54:01
      %p
        今日はありがとう。楽しかったね。
    .message
      .message__user-name
        user_id_2
      .message__time
        2019-12-24-23:54:55
      %p
        次はいつ会える？
    .message
      .message__user-name
        user_id_1
      .message__time
        2019-12-25-18:06:32
      %p
        また連絡するよ。
  
  .footer
    .form
      %input(type="text" class= "text" placeholder= "type a message" style= "border: none")
        %label{class: "file"}
          = icon('far', 'image')
          %input{type: "file", style: "display: none"}

    .btn
      =link_to "Send", "#", class: 'send-link'