* {
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  float: left;

  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;

    &__top-items {
      height: 20px;
      width: 260px;
      line-height: 20px;
      text-align: center;
      display: flex;
      justify-content: space-between;

      &__name {
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      &__icons {
        i {
          margin-left: 5px;
          color: white;
          float: right; 
        }
      }
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__group-name {
      font-size: 15px;
      color: white;
      font-weight: bold;
      padding-top: 20px;
    }

    &__recent-message {
      font-size: 11px;
      color: white;
      font-weight: bold;
      padding-bottom: 40px;
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  float: right;

  &__group-info {
    height: 100px;
    background-color: #ffffff;
  }

  &__group-message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }

  &__group-message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}