* {
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  float: left;

  &__user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: center;
    align-items: center;

    &__top-items {
      height: 20px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;

      &__name {
        width: 200px;
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      &__icons {
        width: 60px;
        i {
          margin-left: 5px;
          color: white;
          font-size: 14px;
          float: right; 
        }
      }
    }
  }

  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__group-name {
      font-size: 15px;
      color: white;
      font-weight: bold;
      padding-top: 20px;
      margin-bottom: 5px;
    }

    &__recent-message {
      font-size: 11px;
      color: white;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  float: right;

  &__group-info {
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    display: flex;
    position: relative;

    &__group-name {
      font-size: 20px;
      color: #333333; 
      margin-top: 40px;
      position: absolute;
    }
    &__member-list {
      font-size: 12px;
      color: #999999;
      bottom: 10px;
      position: absolute;
    }

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 16px;
      color: #0095d9;
      border: 0.5px solid;
      margin-top: 28px;
      padding: 0 20px;
      right: 40px;
      position: absolute;
    }
  }

  &__group-message-list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;

    &__user-name {
      font-size: 16px;
      color: #333333;
      display: inline-block;
    }

    &__time {
      font-size: 12px;
      color: #999999;
      display: inline-block;
      margin-left: 12px;
      margin-bottom: 12px;
    }

    &__message {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
  }

  &__group-message-form {
    height: 90px;
    width: calc(100vw - 300px);
    line-height: 50px;
    background-color: #d2d2d2;
    bottom: 0;
    position: fixed;
    font-size: 16px;
    padding: 20px 40px;
    display: flex;

    &__type-space {
      color: #999999;
      background-color: white;
      flex: 1;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;

      &__file {
        color: black;
        font-size: 25px;
        padding-left: 10px;
      }
    }

    &__send-btn {
      color: white;
      background-color: #0095d9;
      margin-left: 15px;
      padding: 0 32px;
    }
  }
}